$header-width: 464px;
$header-hover-color: blue;
$img-size: 50px;
$gap: 20px;

th,
td {
	margin: 5px;
}

img {
	width: $img-size;
	height: $img-size;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

.new-game-header {
	width: $header-width;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $header-hover-color;
	}
}

.memory {
	padding: 10px;
	margin-top: 10px;
	border: 2px solid black;
}

.form-control {
	width: $header-width;
	margin-bottom: $gap;
}

.timer-div {
	display: flex;
}

.timer {
	padding: 0 10px;
	margin-left: auto;
	margin-top: auto;
	min-width: 330px;
}

.btn {
	margin-bottom: $gap;
}
