$header-width: 464px;
$img-size: 50px;
$gap: 20px;

th,
td {
	margin: 5px;
}

img {
	width: $img-size;
	height: $img-size;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

h1 {
	width: $header-width;
}

.memory {
	padding: 10px;
	margin-top: 10px;
	border: 2px solid black;
}

.form-control {
	width: $header-width;
	margin-bottom: $gap;
}

.timer {
	padding: 0 10px;
}

.btn {
	margin-bottom: $gap;
}
