.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.display-1 {
  background-color: #e9ecef;
  font-family: fantasy;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  border-bottom: 2px solid black; }

.memory-title {
  color: black;
  cursor: pointer;
  text-decoration: none;
  position: relative; }
  .memory-title:hover {
    text-decoration: none;
    color: black; }
  .memory-title:active {
    color: blue;
    text-decoration: none; }
  .memory-title:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width .5s; }
  .memory-title:hover:after {
    width: 100%;
    background: black; }
  .memory-title:active:after {
    background: blue; }

.card {
  cursor: pointer;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 400px;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-bottom: 25px;
  transition: transform .3s; }
  .card:nth-child(2) {
    margin-left: auto; }
  .card:hover {
    transform: scale(1.1);
    border: 3px solid blue; }
  .card:active {
    cursor: not-allowed; }
