<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memory - Highscores</title>
</head>
<body>
        <script src="/node_modules/firebase/firebase-app.js"></script>
        <script src="/node_modules/firebase/firebase-auth.js"></script>
        <script src="/node_modules/firebase/firebase-firestore.js"></script>
    <h1 class="display-1">Leaderboard</h1>
    <table class="leaderboard"></table>
    <script src="leaderboard.js" type="module"></script>
</body>
</html>