<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/css/start.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Memory</title>
</head>
<body>
    <h1 class="jumbotron display-1"><a href="start.html" class="memory-title">Memory</a></h1>
   
    <div class="container">
        <div class="row">
            <div class="card col-2-5">
                <img class="card-img-top img-fluid" src="../img/memory.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">New Game</h4>
                    <p class="card-text">Start a new game</p>
                    <a href="game.html" class="btn btn-primary">Play memory!</a>
                </div>
            </div>
            <div class="card col-8-11">
                <img class="card-img-top img-fluid" src="../img/leaderboard.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Leadeboard</h4>
                    <p class="card-text">See best scores</p>
                    <a href="leaderboard.html" class="btn btn-primary">Take a look!</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>