th,
td {
  margin: 5px; }

img {
  width: 50px;
  height: 50px; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 0.9; }

.container {
  padding: 0 15px;
  margin: 0 auto; }

.new-game-header {
  width: 464px;
  text-decoration: none; }
  .new-game-header:hover {
    text-decoration: none;
    color: blue; }

.memory {
  padding: 10px;
  margin-top: 10px; }

.form-control {
  width: 464px;
  margin-bottom: 20px;
  cursor: pointer; }

.timer-div {
  display: flex; }

.timer {
  padding: 0 10px;
  margin-left: auto;
  margin-top: auto;
  min-width: 330px; }

.btn {
  margin-bottom: 20px; }
